Image classification

In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from fastai.vision import *
from fastai.metrics import error_rate

In [3]:
securities = {'AUD_CHF':56,
              'AUD_JPY':32,
              'AUD_USD':56,
              'AUS200':32,
              'CAD_CHF':56,
              'CAD_JPY':32,
              'EUR_AUD':56,
              'EUR_GBP':56,
              'EUR_JPY':32,
              'EUR_NZD':32,
              'EUR_TRY':56,
              'GBP_AUD':56,
              'GBP_CAD':32,
              'GBP_CHF':32,
              'GBP_JPY':56,
              'GBP_NZD':56,
              'GBP_USD':56,
              'NAS100':32,
              'NZD_CAD':56,
              'NZD_CHF':32,
              'NZD_JPY':56,
              'NZD_USD':32,
              'SPX500':56,
              'US30':32,
              'USD_NOK':32,
              'USD_SEK':56,
              'XAU_USD':56,
            }

cycles_dict = {'AUD_CHF':2,
              'AUD_JPY':4,
              'AUD_USD':3,
              'AUS200':3,
              'CAD_CHF':2,
              'CAD_JPY':3,
              'EUR_AUD':3,
              'EUR_GBP':1,
              'EUR_JPY':2,
              'EUR_NZD':2,
              'EUR_TRY':3,
              'GBP_AUD':3,
              'GBP_CAD':3,
              'GBP_CHF':2,
              'GBP_JPY':4,
              'GBP_NZD':4,
              'GBP_USD':4,
              'NAS100':4,
              'NZD_CAD':2,
              'NZD_CHF':2,
              'NZD_JPY':2,
              'NZD_USD':3,
              'SPX500':4,
              'US30':3,
              'USD_NOK':2,
              'USD_SEK':3,
              'XAU_USD':3
            }
keys=[*securities]

In [4]:
bs = 32
# bs = 16   # uncomment this line if you run out of memory even after clicking Kernel->Restart

In [5]:
np.random.seed(2)
pat = r'_L([S0L])\.png$'

In [6]:
request_period='D1'
path = '/storage/candles/new_20200123'
image_directory_path=path+'/images08'
model_path=path+'/models08'

In [7]:
for instrument in keys:
    cycles=cycles_dict[instrument]
    dir=instrument+'_'+str(securities[instrument])
    print(dir, instrument, cycles)
    image_data_path=image_directory_path+'/'+dir
    fnames = get_image_files(image_data_path)
    data = ImageDataBunch.from_name_re(image_data_path, fnames, pat, size=224, bs=bs).normalize(imagenet_stats)
    learn = cnn_learner(data, models.resnet34, metrics=error_rate)
    learn.fit_one_cycle(cycles)
    #learn.fit_one_cycle(6)
    learn.save(model_path+'/'+dir+'_RN34_Model_1b')

AUD_CHF_56 AUD_CHF 2

AUD_JPY_32 AUD_JPY 4

AUD_USD_56 AUD_USD 3

AUS200_32 AUS200 3

CAD_CHF_56 CAD_CHF 2

CAD_JPY_32 CAD_JPY 3

EUR_AUD_56 EUR_AUD 3

EUR_GBP_56 EUR_GBP 1

EUR_JPY_32 EUR_JPY 2

EUR_NZD_32 EUR_NZD 2

EUR_TRY_56 EUR_TRY 3

GBP_AUD_56 GBP_AUD 3

GBP_CAD_32 GBP_CAD 3

GBP_CHF_32 GBP_CHF 2

GBP_JPY_56 GBP_JPY 4

GBP_NZD_56 GBP_NZD 4

GBP_USD_56 GBP_USD 4

NAS100_32 NAS100 4

NZD_CAD_56 NZD_CAD 2

NZD_CHF_32 NZD_CHF 2

NZD_JPY_56 NZD_JPY 2

NZD_USD_32 NZD_USD 3

SPX500_56 SPX500 4

US30_32 US30 3

USD_NOK_32 USD_NOK 2

USD_SEK_56 USD_SEK 3

XAU_USD_56 XAU_USD 3